# === Android / Gradle Build ===
.gradle/
.idea/
build/
*.iml
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
release/

# === Android Studio ===
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx

# === Keystore & Security ===
*.jks
*.keystore

# === Firebase / Google Services ===
google-services.json

# === Logs ===
*.log

